.department-container
{
    margin: 20px;
}
.department-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
  }
  
  .department-table th,
  .department-table td {
    height: 40px;
    border: 1px solid white;
    padding: 10px; /* Increase padding for better spacing */
    text-align: center;
  }
  
  .department-table th {
    background-color: #333;
    color: white;
  }
  
  .department-button {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  .department-delete-button {
    background-color: #dc3545; /* Red */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
  }
.department-view-button{
  background-color: #4251b4; 
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}
  .department-add-button{
    background-color: #4251b4; 
    color: white;
    border: none;
    padding: 8px 16px;
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 4px;
  }
  /* Media Queries for responsiveness */
  @media screen and (max-width: 768px) {
    .department-table th,
    .department-table td {
      font-size: 10px; /* Decrease font size for smaller screens */
    }
  }
  
  @media screen and (max-width: 576px) {
    .department-table th,
    .department-table td {
      font-size: 7.5px; /* Further decrease font size for even smaller screens */
      padding: 0px; /* Adjust padding for smaller screens */
    }
  }
  