.leave-report {
    margin: 20px;
  }
  
  .leave-table {
    width: 100%;
    border-collapse: collapse;
    font-size:18px;
  }
  
  .leave-table th,
  .leave-table td {
    height:40px;
    border: 1px solid white;
    padding: 10px; /* Increase padding for better spacing */
    text-align: center;
    
  }
  
  .leave-table th {
    background-color: #333;
    color: white;
  }
  
  .approve-button,
  .reject-button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .reject-button {
    background-color: red;
  }
  
  /* Media Queries for responsiveness */
  @media screen and (max-width: 768px) {
    .leave-table th,
    .leave-table td {
      font-size: 10px; /* Decrease font size for smaller screens */
    }
  }
  
  @media screen and (max-width: 576px) {
    .leave-table th,
    .leave-table td {
      font-size: 7.5px; /* Further decrease font size for even smaller screens */
      padding: 0px; /* Adjust padding for smaller screens */
    }
  }
  